<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://allfont.es/allfont.css?fonts=kavoon" rel="stylesheet" type="text/css" />
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
    </style>
</head>
<body>
  <img src="/assets/Lengua.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
  <h1>LENGUA</h1>
  <div class="two">
    <p class="one">
      Cada lengua está asociada a una cultura y a una forma diferente de ver la realidad. 
      La lengua materna forma parte de la identidad de cada persona y es importante preservarla porque:
      Se fomentan valores como la tolerancia y el respeto. La diversidad de lenguas nos ayuda a entender que existen personas
       y culturas distintas que debemos respetar y tolerar. Los valores como la tolerancia y el respeto son fundamentales para 
       lograr que exista paz, La libertad, la igualdad y otros derechos humanos se protegen cuando 
       se impulsa la preservación de las lenguas maternas.
    </p>
  </div>

  <a href="/apps-lengua" class="boton_1" target="_self"><img class="intentoapp" src="/assets/Lengua Aapp.jpg" alt="" usemap="#workmap"></a>

  <a href="/info-extra-lengua" class="boton_3" target="_self"><img class="intentoinformacion" src="/assets/Lengua-icon.jpg" alt="" usemap="#workmap"></a>




  <a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>

  <img class="flecha" src="https://st.depositphotos.com/3220223/4263/i/600/depositphotos_42635447-stock-photo-double-arrows.jpg">
</body>
</html>