<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  
</style>
<body>
    <img src="/assets/Image/Matematicas.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>APPS PARA EL APRENDIZAJE</h1>
    <a href="https://mx.smartickmethod.com/?utm_source=google&utm_medium=cpc&utm_campaign=co_brand_generic" class="boton_1" target="_self"><img class="app1" src="/assets/Image/App 1 matematicas.png" alt="" usemap="#workmap"></a>
    <a href="https://socratic.org" class="boton_2" target="_self"><img class="app2" src="/assets/Image/App 2 matematicas.png" alt="" usemap="#workmap"></a>
    <a href="https://photomath.com/es/" class="boton_3" target="_self"><img class="app3" src="/assets/Image/App 3 matematicas.png" alt="" usemap="#workmap"></a>
    <a href="https://www.geogebra.org/graphing?lang=es" class="boton_4" target="_self"><img class="app4" src="/assets/Image/App 4 matematicas.png" alt="" usemap="#workmap"></a>
 <div class="Apptexto1">
     <p>
        <b>Nombre de la app: </b> SMARTICK
        <br>
        <br>

        <b>Descripción:</b>
        Cada día, estos pueden realizar sesiones de 15 minutos que se van adaptando a su ritmo y capacidades. 
        Smartick combina matemáticas, lógica, programación y comprensión lectora para que los niños aprenden utilizando 
        el móvil solo un cuarto de hora al día.
          <br>

          <br>
          <b>Enfoques:</b>
          Esta aplicación de matemáticas está orientada para niños de entre 4 y 14 años.
          <BR>
            <BR>
              <BR>
     </p>
 </div>
 <div class="Apptexto2">
    <p>
       <b>Nombre de la app: </b> SOCRATIC
       <br>
       <br>

       <b>Descripción:</b>
       Google es otra de las grandes firmas que ofrecen una herramienta con la que practicar y resolver operaciones, 
       pero a diferencia de las demas en esta puedes tomarle foto a una pregunta como si fuera una operacion y de 
       igual manera de encontrara una respuesta paso a paso
         <br>

         <br>
         <b>Enfoques:</b>
         Su interes principal radica en la escuela secundaria
    </p>
</div>
<div class="Apptexto3">
    <p>
       <b>Nombre de la app: </b> PHOTOMATH
       <br>
       <br>

       <b>Descripción:</b>
       Photomath te muestra la solución del mismo y te explica el proceso paso por paso para que puedas comprender 
       cómo ha llegado hasta el resultado final. Además, también puedes editar los problemas con la calculadora científica 
       y utilizar sus gráficos interactivos para aprender más sobre la solución. 
         <br>

         <br>
         <b>Enfoques:</b>
         Cualquier tipo de estudiante pero en especial a los
         estudiantes de matematica avanzada
    </p>
</div>
<div class="Apptexto4">
    <p>
       <b>Nombre de la app: </b> GEOGEBRA
       <br>
       <br>

       <b>Descripción:</b>
       GeoGebra es una de las apps más avanzadas de la tienda de aplicaciones, 
       ya que te permite resolver problemas, hacer gráficas de funciones, 
       curvas polares y paramétricas; realizar estadísticas y cálculos;
        experimentar con deslizadores, puntos y gráficas; obtener intersecciones,
         integrales, derivadas, etc; guardar y compartir tus resultados; 
         y buscar nuevas actividades gratuitas para seguir mejorando tus conocimientos.
         <br>

         <br>
         <b>Enfoques:</b>
         Estudios de matematicas avanzadas como en las carreras de ingenieria
    </p>
</div>
<a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>
<a href="/matematicas" button class="boton cuatro"><span>VOLVER</span></a>
</body>

</html>
<router-outlet></router-outlet>