<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
      </style>
</head>
<body>
    <img src="/assets/Geografia.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>INFORMACIÓN EXTRA</h1>
    <a href="https://www.geoguessr.com/seterra/es" class="boton_1" target="_self"><img class="app1" src="/assets/Image/Geografia/Informacion 1.png" alt="" usemap="#workmap"></a>
    <a href="https://es.educaplay.com" class="boton_2" target="_self"><img class="app1" src="/assets/Image/Geografia/Informacion 2.png" alt="" usemap="#workmap"></a>
    <a href="https://mapasinteractivos.didactalia.net/comunidad/mapasflashinteractivos" class="boton_3" target="_self"><img class="app1" src="/assets/Image/Geografia/Informacion 3.png" alt="" usemap="#workmap"></a>
    <a href="https://www.globalforestwatch.org" class="boton_4" target="_self"><img class="app1" src="/assets/Image/Geografia/informacion 4.jpg" alt="" usemap="#workmap"></a>
 <div class="Apptexto1">
     <p>
        <b>Nombre de la página: </b> SETERRA
        <br>
        <br>

        <b>Descripción:</b>
        Contiene una gran variedad de mapas de todo el mundo correspondientes 
        a distintas materias como la geografía política, la física o la identificación 
        de banderas nacionales; también tienen juegos para atravesar los límites terrestres
         y conocer los planetas del sistema solar.

          <br>

          <br>
          <b>Enfoques:</b>
          Para los niños de nivel basico.
     </p>
 </div>
 <div class="Apptexto2">
    <p>
       <b>Nombre de la página: </b> EDUCAPLAY
       <br>
       <br>

       <b>Descripción:</b>
       Educaplay es una plataforma que incluye actividades de casi todas las disciplinas
        y la posibilidad de adaptarlas a cualquier nivel. Permite publicar iniciativas didácticas
         a los miembros de su comunidad, lo cual proporciona un elevado número de ejercicios y 
         pasatiempos para los usuarios.
         <br>

         <br>
         <b>Enfoques:</b>
         Fue desarrollada con el objetivo de ayudar a los adolescentes.
    </p>
</div>
<div class="Apptexto3">
    <p>
       <b>Nombre de la página: </b> DIDACTALIA
       <br>
       <br>

       <b>Descripción:</b>
       Otra opción para estudiar mapas de toda la Tierra, en este caso a través de dos propuestas:
        localizando alguna ubicación a partir de su nombre, o introduciendo el mismo en el lugar planteado. 
        Destacan sus numerosas secciones destinadas a la distribución regional de una amplia cantidad de países.
         <br>

         <br>
         <b>Enfoques:</b>
         Se enfoca en la gente que le gusta leer artículos y participar en torneos
    </p>
</div>
<div class="Apptexto4">
    <p>
       <b>Nombre de la página: </b> GLOBAL FOREST WATCH
       <br>
       <br>

       <b>Descripción:</b>
       Perfecta para concienciar a los niños sobre los problemas que generan los agentes contaminantes;
        contiene información sobre el estado actual de los bosques y el que se prevé que tendrán en el futuro.
         Esta web va mucho más allá de la educación geográfica; se complementa con los eventos ambientales que 
         están ocurriendo alrededor del mundo
         <br>

         <br>
         <b>Enfoques:</b>
         Para preparar a los niños no solo con conocimiento físico, sino también del entorno en el cual están creciendo.
    </p>
</div>
<a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>
<a href="/geografia"><button class="boton cuatro"><span>VOLVER</span></button></a>
</body>

</html>