<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
      </style>
</head>
<body>
    <img src="/assets/Lengua.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>APPS PARA EL APRENDIZAJE</h1>
    <a href="https://es.hinative.com" class="boton_1" target="_self"><img class="app1" src="/assets/Image/Lengua/App 1.png" alt="" usemap="#workmap"></a>
    <a href="https://es.duolingo.com" class="boton_2" target="_self"><img class="app2" src="/assets/Image/Lengua/App 2.png" alt="" usemap="#workmap"></a>
    <a href="http://wibbu.com/es/" class="boton_3" target="_self"><img class="app3" src="/assets/Image/Lengua/App 3.jpg" alt="" usemap="#workmap"></a>
    <a href="https://www.busuu.com/es/p/start-learning?utm_medium=cpc&utm_source=google&utm_campaign=LatAm_ES_Web_Brand_E&utm_group=LatAm_ES_Web_Brand_E&utm_term=busuu&gclid=Cj0KCQjw1ZeUBhDyARIsAOzAqQLoUFTpC5wpA0Re6vL23A2Vm3USO7gc70hytDpRJV1uwI8TeWplOsgaAix5EALw_wcB&gclsrc=aw.ds" class="boton_4" target="_self"><img class="app4" src="/assets/Image/Lengua/App 4.jpg" alt="" usemap="#workmap"></a>
 <div class="Apptexto1">
     <p>
        <b>Nombre de la app: </b> HI-NATIVE
        <br>
        <br>

        <b>Descripción:</b>
        HiNative es una plataforma global con la que puedes preguntar a hablantes nativos sobre sus idiomas y sus culturas.
        También te permite hacer preguntas a través de unos cuestionarios preparados: ¿Cómo se dice esto? ¿Suena esto natural? 
        ¿Cuál es la diferencia entre estas dos palabras o frases? O la frase libre, sobre cualquier tema que quieras.
          <br>

          <br>
          <b>Enfoques:</b>
          Para aquellas personas que se quieran especializar en un idioma.
     </p>
 </div>
 <div class="Apptexto2">
    <p>
       <b>Nombre de la app: </b> DUOLINGO
       <br>
       <br>

       <b>Descripción:</b>
       Esta aplicación gratuita funciona tanto para el iOS de Apple como para Android y 
       la puedes utilizar desde tu computadora. Incluye el inglés, el francés, el alemán y 
       el portugués, y te ayuda a aprender a pronunciar.
       Con Duolingo puedes elegir un nivel adecuado a tus conocimientos y 
       marcarte metas diarias para ir superando y motivarte.
         <br>

         <br>
         <b>Enfoques:</b>
         Para la gente que aun esta empezando con un idioma.
    </p>
</div>
<div class="Apptexto3">
    <p>
       <b>Nombre de la app: </b> WIBBU
       <br>
       <br>

       <b>Descripción:</b>
       Esta aplicación gratuita es un videojuego de acción y aventura 
       para aprender inglés, especialmente diseñado para niños y jóvenes hablantes de español.
       La protagonista es una niña llamada Bethany cuyo propósito es devolver la paz al reino de Wibbu.
         <br>

         <br>
         <b>Enfoques:</b>
         Caracterizada principalmente para los niños entre 5 y 10 años
    </p>
</div>
<div class="Apptexto4">
    <p>
       <b>Nombre de la app: </b> BUSUU
       <br>
       <br>

       <b>Descripción:</b>
       Busuu es una red social gratuita para aprender idiomas en línea.
       Además del español, incluye 11 idiomas más, como el chino o el polaco.
       Busuu ofrece cursos audiovisuales gratis y de pago, y permite la interacción directa 
       con hablantes nativos de todo el mundo.
       La plataforma tiene millones de usuarios en todo el mundo y es muy utilizada en países 
       como Brasil, China, Turquía y Alemania.
         <br>

         <br>
         <b>Enfoques:</b>
         La app radica en llamar la atención de universitarios
    </p>
</div>
<a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>
<a href="/lengua"><button class="boton cuatro"><span>VOLVER</span></button></a>
</body>

</html>