<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  
</style>
<body>
    <img src="/assets/Image/Matematicas.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>INFORMACIÓN EXTRA</h1>
    <a href="https://es.khanacademy.org" class="boton_1" target="_self"><img class="app1" src="/assets/Image/Informacion 1 matematicas.jpeg" alt="" usemap="#workmap"></a>
    <a href="https://ekuatio.com" class="boton_2" target="_self"><img class="app2" src="/assets/Image/informacion 2 matematicas.jpg" alt="" usemap="#workmap"></a>
    <a href="https://www.divulgamat.net/divulgamat15/index.php?option=com_alphacontent&view=alphacontent&Itemid=67" class="boton_3" target="_self"><img class="app3" src="/assets/Image/Informacion 3 matematicas.png" alt="" usemap="#workmap"></a>
    <a href="https://www3.gobiernodecanarias.org/medusa/ecoescuela/recursosdigitales/2014/11/17/vitutor/" class="boton_4" target="_self"><img class="app4" src="/assets/Image/informacion 4real matematicas.png" alt="" usemap="#workmap"></a>
 <div class="Apptexto1">
     <p>
        <b>Nombre de la página: </b> KHAN ACADEMY
        <br>
        <br>

        <b>Descripción:</b>
         Su mayor virtud sea el esfuerzo por que cada estudiante que la utilice pueda 
        adecuar lo que hace a su nivel y a su ritmo de aprendizaje, junto con algunos elementos 
        dirigidos a aumentar la motivación. 
          <br>

          <br>
          <b>Enfoques:</b>
          Fundamentos de las matematicas logicas
     </p>
 </div>
 <div class="Apptexto2">
    <p>
       <b>Nombre de la página: </b> EKUATIO
       <br>
       <br>

       <b>Descripción:</b>


       Ekuatio es una startup y utiliza la tecnología para ayudar a alumnos de todo el mundo, 
       pero su secreto no es un complejo algoritmo sino la atención personalizada de un profesor 
       que entiende perfectamente las dificultades de sus alumnos.
       
       
         <br>

         <br>
         <b>Enfoques:</b>
         Se trata de una web pensada para estudiantes de instituto que necesiten subir la nota de
          esta asignatura o para aquellos que necesiten aprobar la prueba de acceso para la universidad.
    </p>
</div>
<div class="Apptexto3">
    <p>
       <b>Nombre de la página: </b> DIVULGAMAT
       <br>
       <br>

       <b>Descripción:</b>
       Aunque la finalidad declarada del sitio divulgaMAT es la divulgación de las matemáticas, 
       su contenido tiene una innegable relación con su enseñanza y aprendizaje. Actualmente contiene
        una gran cantidad de materiales, elaborados por expertos españoles y latinoamericanos, 
        con un alto nivel de calidad y con un enorme potencial para la motivación
         <br>

         <br>
         <b>Enfoques:</b>
         Especialmente para los alumnos de secundaria y enseñanza superior, y para la formación de los docentes.
    </p>
</div>
<div class="Apptexto4">
    <p>
       <b>Nombre de la página: </b> VITUTOR
       <br>
       <br>

       <b>Descripción:</b>
       Comprende una estructura clásica, teoría, ejercicios, seguidos de nueva teoría y ejercicios,
        como en otras muchas páginas. Indudablemente útil para muchos usuarios, parece plantearse como 
        complemento del trabajo en el aula, en la medida en que prescinde de los procesos de comprensión y conceptualización. 
         
         <br>

         <br>
         <b>Enfoques:</b>
         Cubre de manera exhaustiva los contenidos de la educación secundaria, aproximadamente de 12 a 18 años
    </p>
</div>
<a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>
<a href="/matematicas" button class="boton cuatro"><span>VOLVER</span></a>
</body>

</html>
<router-outlet></router-outlet>