<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
      </style>
</head>
<body>
    <img src="/assets/Lengua.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>INFORMACIÓN EXTRA</h1>
    <a href="https://www.leoteca.es" class="boton_1" target="_self"><img class="app1" src="/assets/Image/Lengua/Informacion 1.jpg" alt="" usemap="#workmap"></a>
    <a href="https://cvc.cervantes.es" class="boton_2" target="_self"><img class="app1" src="/assets/Image/Lengua/Informacion 2.png" alt="" usemap="#workmap"></a>
    <a href="https://www.canallector.com" class="boton_3" target="_self"><img class="app1" src="/assets/Image/Lengua/informacion-3.jpg" alt="" usemap="#workmap"></a>
    <a href="https://lenguayliteratura.org/proyectoaula/" class="boton_4" target="_self"><img class="app1" src="/assets/Image/Lengua/informacion 4.png" alt="" usemap="#workmap"></a>
 <div class="Apptexto1">
     <p>
        <b>Nombre de la página: </b> LEOTECA
        <br>
        <br>

        <b>Descripción:</b>
        En esta comunidad virtual gratuita, padres y profesores juegan un papel clave,
        ya que pueden seguir en detalle la evolución de sus hijos o alumnos, estar al día de las novedades literarias,
         sugerir lecturas adaptadas a los intereses y gustos de cada pequeño y muchas opciones más. Adquirida recientemente
          por Smartick, método de aprendizaje online de matemáticas
          <br>

          <br>
          <b>Enfoques:</b>
          Niños que estan cursando la primaria
     </p>
 </div>
 <div class="Apptexto2">
    <p>
       <b>Nombre de la página: </b> CENTRO VIRTUAL CERVANTES
       <br>
       <br>

       <b>Descripción:</b>
       El Centro virtual Cervantes es el espacio web del Instituto Cervantes. Ofrece materiales 
       y servicios para quienes están interesados en el español. En el apartado de enseñanza destacan 
       los recursos didácticos para todas las edades. Secciones como “morderse la lengua”, “el refranero multilingüe” 
       son verdaderas joyas. 
         <br>

         <br>
         <b>Enfoques:</b>
         Para todos los niveles de estudio pero enfocandose en el idioma español
    </p>
</div>
<div class="Apptexto3">
    <p>
       <b>Nombre de la página: </b> CANAL LECTOR
       <br>
       <br>

       <b>Descripción:</b>
       Esta es una web de recomendación de libros infantiles y juveniles, cómic, álbum ilustrado 
       y novelas crossover editadas en español en los diversos países que comparten la lengua. 
       Los libros, permanentemente actualizados, son seleccionados por equipos de especialistas en 
       literatura infantil y juvenil. 
         <br>

         <br>
         <b>Enfoques:</b>
         Principalmente para los 2 primeros niveles de educacion
    </p>
</div>
<div class="Apptexto4">
    <p>
       <b>Nombre de la página: </b> LENGUA Y LITERATURA
       <br>
       <br>

       <b>Descripción:</b>
       Contiene diferentes proyectos de aula caracterizados por su cantidad de libros, narraciones e infinidades
       de contenido audiovisual al que el usuario puede acceder sin ningun tipo de restriccion monetaria, de igual manera
       mensualmente la página se está actualizando con contenido que profesores y estudiantes aportan.
         <br>

         <br>
         <b>Enfoques:</b>
         Para cualquier tipo de nivel educativo pero especialmente para universitarios
    </p>
</div>
<a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>
<a href="/lengua"><button class="boton cuatro"><span>VOLVER</span></button></a>
</body>

</html>
 