<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
  </style>
</head>
<body>
  <img src="/assets/Image/Matematicas.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
  <h1>MATEMÁTICAS</h1>
  <div class="two">
    <p class="one">La enseñanza de la Matemática tiene como propósito fundamental desarrollar la capacidad 
      para pensar, razonar, comunicar, aplicar y valorar las relaciones entre las ideas y los fenómenos reales. 
      Considerando a la Matemática como una construcción de las civilizaciones a lo largo de la historia, 
      cargado de valores y que se desarrolla en el marco de un contexto socio-cultural determinado, 
      el área de Matemática proporciona un bagaje necesario para entender y comprender el mundo en que vivimos</p>
  </div>

  <a href="/apps-matematicas" class="boton_1"><img class="intentoapp" src="/assets/Image/Matematicas App.jpg" alt=""></a>
  <a href="/info-extra-mate" class="boton_3"><img class="intentoinformacion" src="/assets/Image/Matematicas-icon.jpg" alt=""></a>



  <a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>

  <img class="flecha" src="https://st.depositphotos.com/3220223/4263/i/600/depositphotos_42635447-stock-photo-double-arrows.jpg">
</body>
</html>
<router-outlet></router-outlet>