<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://allfont.es/allfont.css?fonts=kavoon" rel="stylesheet" type="text/css" />
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
    </style>
</head>
<body>
  <img src="/assets/Geografia.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
  <h1>GEOGRAFÍA</h1>
  <div class="two">
    <p class="one">
      La geografía es una de las ciencias sociales más antiguas y a su vez se encargada de la descripción y representación gráfica del planeta Tierra.
       Se interesa por sus paisajes, territorios, lugares, regiones, poblaciones y los modos en que todos estos 
       elementos se interrelacionan. Su nombre proviene del griego gea, “tierra”, y graphos, “escritura”.

    </p>
  </div>

  <a href="/apps-geografia" class="boton_1" target="_self"><img class="intentoapp" src="/assets/Geografia app.jpg" alt="" usemap="#workmap"></a>

  <a href="/info-extra-geo" class="boton_3" target="_self"><img class="intentoinformacion" src="/assets/Geografia-icon.jpg" alt="" usemap="#workmap"></a>



 <a href="/inicio"> <button class="boton tres"><span>INICIO</span></button></a>

  <img class="flecha" src="https://st.depositphotos.com/3220223/4263/i/600/depositphotos_42635447-stock-photo-double-arrows.jpg">
</body>
</html>
