<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
      </style>
</head>
<body>
    <img src="/assets/Geografia.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>APPS PARA EL APRENDIZAJE</h1>
    <a href="https://apps.apple.com/es/app/barefoot-atlas-del-mundo/id489221652" class="boton_1" target="_self"><img class="app1" src="/assets/Image/Geografia/App 1.jpg" alt="" usemap="#workmap"></a>
    <a href="https://apps.apple.com/es/app/geo-touch-learn-geography/id722557323" class="boton_2" target="_self"><img class="app2" src="/assets/Image/Geografia/App 2.jpg" alt="" usemap="#workmap"></a>
    <a href="https://apps.apple.com/es/app/geoexpert-lite-mundial/id572286668?mt=12" class="boton_3" target="_self"><img class="app3" src="/assets/Image/Geografia/App 3.png" alt="" usemap="#workmap"></a>
    <a href="https://baixarapk.gratis/es/app/986463559/world-map-challenge-geography" class="boton_4" target="_self"><img class="app4" src="/assets/Image/Geografia/App 4.jpg" alt="" usemap="#workmap"></a>
 <div class="Apptexto1">
     <p>
        <b>Nombre de la app: </b> BAREFOOT ATLAS DEL MUNDO
        <br>
        <br>

        <b>Descripción:</b>
        Explora continentes, océanos y sus entornos cambiantes. A medida que viajas de un país a otro,
         conocerás a diferentes personas de todo el planeta y sus formas de vida. Desde una increíble vida salvaje
          a monumentos famosos y edificios extraordinarios.
          <br>

          <br>
          <b>Enfoques:</b>
          Para cualquier persona que quiera empezar
     </p>
 </div>
 <div class="Apptexto2">
    <p>
       <b>Nombre de la app: </b> GEO TOUCH: APRENDE GEOGRAFÍA
       <br>
       <br>

       <b>Descripción:</b>
       Con esta app, al ser de creadores norteamericanos, conocerás
        de forma gratuita la forma y la ubicación de cada uno de los estados de EE.UU. 
        También te permite comprar mapas adicionales, que incluye los países de todos los continentes.
         <br>

         <br>
         <b>Enfoques:</b>
         Es especializada para las personas que ya quieran estudiar una carrera universitaria
         relacionada con el tema.
    </p>
</div>
<div class="Apptexto3">
    <p>
       <b>Nombre de la app: </b> GEO EXPERT LITE-MUNDIAL
       <br>
       <br>

       <b>Descripción:</b>
       Entre los juegos que incluye se encuentran: adivinar capitales y banderas, saber situar países y territorios,
        y ubicar los ríos y las montañas. También dispone de un estudio con información sobre área, población o 
        densidad sobre cada lugar del mundo. Existen otras versiones de la app centradas en países concretos como 
        España, Rusia, Estados Unidos o México.
         <br>

         <br>
         <b>Enfoques:</b>
         Radica para los estudiantes de secundaria
    </p>
</div>
<div class="Apptexto4">
    <p>
       <b>Nombre de la app: </b> WORLD GEOGRAPHY MAP QUIZ
       <br>
       <br>

       <b>Descripción:</b>
       Este juego desafía tus conocimientos de geografía mundial para que conozcas
        las ubicaciones de casi 200 países de todo el mundo. No incluye algun costo
        para hacer uso de la aplicación.
         <br>

         <br>
         <b>Enfoques:</b>
         En un principio se desarrolló para los profesores y que sus clases fueran mas interactivas
         pero ahora también hay un apartado estudiantil.
    </p>
</div>
<a href="/inicio"><button class="boton tres"><span>INICIO</span></button></a>
<a href="/geografia"><button class="boton cuatro"><span>VOLVER</span></button></a>
</body>

</html>