<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <img src="/assets/tablero.png" class="img-fluid" style="position: absolute; right:0; top: 0; z-index: -100; opacity: 1;" width="100%" height="150%">
    <h1>Learn It</h1>
    <div class="texto1">
        <a href="/geografia"><img src="/assets/1_.png" alt="Logotipo" class="mundito"></a>
        <p class="geo">GEOGRAFÍA</p>
    </div>
    <div class="texto2">
        <a href="/matematicas"><img src="/assets/3_.png" alt="Logotipo" class="mates"></a>
        <p class="mate">MATEMÁTICAS</p>
    </div>
    <div class="texto3">
        <a href="/lengua"><img src="/assets/2_.png" alt="Logotipo" class="lengua"></a>
        <p class="lenguas">LENGUAS</p>
    </div>
</body>
</html>